body {
    text-align: center;
    background-color: aquamarine;
}

h1,h2,h3 {
    color: aquamarine;
    text-decoration: none;
}

#welcome {
    background: linear-gradient( blueviolet, aquamarine);
}

#image {
    border-radius: 40%;
    height: flex;
    width: flex;
}

.menu {
    float: right;
    cursor: pointer;
}

.link {
    align-self: flex-end;
}