body {
    text-align: center;
    margin: 0px;
    background-image: url("Pictures/Background.jpg");
    text-decoration-color: aqua;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
    text-decoration: none;
    text-decoration-color: aqua;
}